# Ignore node_modules
node_modules

# Ignore development dependencies
**/*.log
**/.git
**/.DS_Store
**/npm-debug.log*
**/yarn-error.log*

# Ignore local configuration files
.dockerignore
.git
.gitignore

# Ignore Docker specific files
Dockerfile
docker-compose.yml
.dockerignore

data/**
