*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #1f1f1f;
}

header {
  background-color: #9147ff;
  color: white;
  padding: 5px;
  text-align: center;
  font-size: 20px;
}

.container {
  display: flex;
  flex: 1;
  height: calc(100% - 70px); /* Adjust according to header height */
}

.video-section {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-section iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.chat-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-left: 2px solid #9147ff;
  max-width: 350px;
  overflow-y: auto;
}

.chat-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  color: white;
  word-break: break-all;
}

.chat-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.chat-input textarea {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  color: white;
  background-color: #1f1f1f;
}

.chat-input button {
  margin-left: 10px;
  padding: 10px 15px;
  border: none;
  background-color: #9147ff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: #732ddf;
}

@media (max-width: 810px) {
  .container {
    flex-direction: column;
  }
  .video-section {
    flex: none;
  }
  .video-section::before {
    content: "";
    display: block;
    padding-top: 56.25%;
}
  .chat-section {
    max-width: none;
    max-height: calc(100% - 70px);
  }
}